@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 900px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #f1356d;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #f1356d;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}

form input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

form button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #f1356d;
  cursor: pointer;
  font-size: 18px;
}

form button:hover {
  background-color: #f1356d80;
}

.navbar button {
  background-color: #f1356d;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 6px;
  cursor: pointer;
}

.navbar button:hover {
  background-color: #f1356d80;
}
